.chart {
  $height: calc((100vw - 32px) * (306 / 382));
  width: calc(100vw - 32px);
  height: $height;
  position: relative;

  @media (min-width: 860px) {
    width: calc(860px - 32px);
    height: calc((860px - 32px) * (306 / 382));
  }

  ::ng-deep {
    canvas {
      max-width: 100%;
      width: 100% !important;
      height: auto !important;
    }

    .canvasjs-chart-credit {
      display: none;
    }
  }

  &:after {

    content: '';
    height: 9px;
    width: 30%;
    background: var(--ion-background-color, #ffffff);
    position: absolute;
    bottom: 0;
    right: 0;

    @media (min-width: 860px) {
      height: 1.6%;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  font-size: 10px;
  position: relative;
  opacity: 0.5;
}

section + section {
  margin-top: 40px;
}
