################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/HotPink.API/Properties/ServiceDependencies/hotpink - Zip Deploy/profile.arm.json
*.MOV
/.env
