.fab-button-footer {
  pointer-events: none; // allow to click on element behind

  ion-fab-button {
    float: right;
    margin: 0 16px 16px 0;
    pointer-events: all;
  }
}

i {
  opacity: 0.5;
  width: 100%;
  text-align: center;
  display: block;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

* {
  &:focus {
    outline: none !important;
  }
}
