<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="doctor" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Invite patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <main>
    <ng-container *ngIf="!loading else spinner">
      <ng-container *ngIf="patients.length">
        <h3>Available patients</h3>
        <ion-list>
          <ion-item *ngFor="let p of patients"
                    (click)="selectedPatient = p">
            <ion-label>{{ p.name }}</ion-label>
            <ion-icon *ngIf="p === selectedPatient" slot="end" name="checkmark"></ion-icon>
          </ion-item>
        </ion-list>
      </ng-container>
    </ng-container>
  </main>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="invitePatient()"
                color="primary"
                type="submit"
                expand="block"
                [disabled]="!selectedPatient">
      <ng-container *ngIf="!selectedPatient">
        Choose a patient to invite
      </ng-container>
      <ng-container *ngIf="selectedPatient">
        Invite patient <strong>{{ selectedPatient.name }}</strong>
        <ion-icon slot="end" name="checkmark"></ion-icon>
      </ng-container>
    </ion-button>
  </ion-toolbar>
</ion-footer>

<ng-template #spinner>
  <app-loading></app-loading>
</ng-template>
