.success {

  h1 {
    margin: 30px 0 60px;
    color: var(--ion-color-primary);
  }

  h2 {
    text-align: center;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .code {
      width: 100%;
      max-width: 500px;
      padding: 10px 15px;
      background: var(--grey);
      border-radius: 6px;
      font-size: 24px;
      font-weight: 800;
      letter-spacing: 5px;
      text-align: center;
      margin: 30px 0;
    }
  }
}

.copied {
  color: var(--ion-color-success);
}
