<ion-header translucent="true" class="ion-no-border"></ion-header>

<ion-content fullscreen="true">
  <main>
    <div class="success">
      <h1>Great!</h1>
      <h2>Share this invitation code with {{ name }}:</h2>

      <section>
        <div class="code">
          {{ code }}
        </div>
        <ion-button (click)="handleCopy()"
                    color="primary"
                    fill="outline">
          Copy
          <ion-icon name="copy-outline" slot="end"></ion-icon>
        </ion-button>
      </section>
    </div>
  </main>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/doctor']"
                color="primary"
                expand="block">
      Got it!
    </ion-button>
  </ion-toolbar>
</ion-footer>

