<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>My history</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ng-container *ngIf="!loading else spinner">
    <ng-container *ngIf="detail">
      <main>
        <app-record-list [records]="detail.data"></app-record-list>
      </main>
    </ng-container>
  </ng-container>
</ion-content>

<ng-template #spinner>
  <app-loading></app-loading>
</ng-template>
