main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 30px;

  ion-icon, h1 {
    color: var(--ion-color-primary);
  }

  h1 {
    margin-bottom: 0;
  }

  p {
    margin-top: 5px;
  }

  ion-icon {
    font-size: 82px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;

  ion-button + ion-button {
    margin-top: 10px;
  }

  ion-button {
    strong {
      margin-left: 5px;
    }
  }
}
