<ion-header translucent="true" class="ion-no-border"></ion-header>

<ion-content fullscreen="true">
  <main>
    <div class="logo">
      <ion-icon name="pulse-outline"></ion-icon>
      <h1>Heart Rate Detector</h1>
      <p>through your smartphone camera</p>
    </div>
    <div class="buttons">
      <ion-button [routerLink]="'/verify'">
        <ion-icon name="man-outline" slot="start"></ion-icon>
        Continue as a <strong>patient</strong>
      </ion-button>
      <ion-button (click)="handleDoctorLogin()">
        <ion-icon name="medical-outline" slot="start"></ion-icon>
        Continue as a <strong>doctor</strong>
      </ion-button>
    </div>
  </main>
</ion-content>
