<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="instructions" text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <main>
    <section *ngIf="loading">
      <h1>Good job!</h1>
      <h2>We are uploading and processing your video. Please wait.</h2>
      <app-loading></app-loading>
    </section>

    <section *ngIf="!loading && isWaiting">
      <ng-container *ngIf="!isCancelled else cancelled">
        <h2>Camera is starting...</h2>
      </ng-container>
      <ng-template #cancelled>
        <h2>Recording was cancelled</h2>
        <div class="buttons">
          <ion-button (click)="perform()"
                      color="primary"
                      type="submit"
                      expand="block">
            Record again
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-button>
          <ng-container [ngTemplateOutlet]="backToHomeButton"></ng-container>
        </div>
      </ng-template>
    </section>

    <section *ngIf="!loading && !isWaiting">
      <ng-container *ngIf="recordId else error">
        <h2>Analysis is done</h2>
        <div class="buttons">
          <ion-button [routerLink]="['/patient', 'history', recordId]"
                      color="primary"
                      type="submit"
                      expand="block">
            See analysis result
          </ion-button>
          <ng-container [ngTemplateOutlet]="backToHomeButton"></ng-container>
        </div>
      </ng-container>
    </section>
  </main>
</ion-content>

<ng-template #error>
  <h2>Oh no, something is wrong with your video.</h2>
  <p *ngIf="errorMessage.length" class="error">
    <ion-icon name="alert-circle-outline"></ion-icon>
    {{ errorMessage }}
  </p>
  <div class="buttons">
    <ion-button (click)="perform()"
                color="primary"
                type="submit"
                expand="block">
      Record another one
    </ion-button>
    <ng-container [ngTemplateOutlet]="backToHomeButton"></ng-container>
  </div>
</ng-template>

<ng-template #backToHomeButton>
  <ion-button [routerLink]="['/']"
              color="primary"
              fill="outline"
              type="submit"
              expand="block">
    <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
    Return to homepage
  </ion-button>
</ng-template>
