.is-web {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  h3 {
    color: var(--ion-color-primary);
  }

  h3, p {
    text-align: center;
  }

  p {
    font-weight: 700;
  }

  .buttons {
    margin-top: 40px;
  }
}
