<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="instructions" text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <main>
    <ng-container *ngIf="loading">
      <h1>Good job!</h1>
      <h2>We are uploading and processing your video. Please wait.</h2>
      <app-loading></app-loading>
    </ng-container>

    <ng-container *ngIf="!loading && isWaiting">
      <ng-container *ngIf="!isCancelled else cancelled">
        <h2>Camera is starting...</h2>
      </ng-container>
      <ng-template #cancelled>
        <h2>Recording was cancelled</h2>
        <ion-button (click)="perform()"
                    color="primary"
                    type="submit"
                    expand="block">
          Record again
        </ion-button>
        <ion-button [routerLink]="['/']"
                    color="primary"
                    fill="outline"
                    type="submit"
                    expand="block">
          Return to homepage
        </ion-button>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="!loading && !isWaiting">
      <ng-container *ngIf="recordId else error">
        <h2>Analysis is done</h2>
        <ion-button [routerLink]="['/patient', 'history', recordId]"
                    color="primary"
                    type="submit"
                    expand="block">
          See analysis result
        </ion-button>
        <ion-button [routerLink]="['/']"
                    color="primary"
                    fill="outline"
                    type="submit"
                    expand="block">
          Return to homepage
        </ion-button>
      </ng-container>
    </ng-container>
  </main>
</ion-content>

<ng-template #error>
  <h2>Oh no, something is wrong with your video.</h2>
  <p *ngIf="errorMessage.length">{{ errorMessage }}</p>
  <ion-button (click)="perform()"
              color="primary"
              type="submit"
              expand="block">
    Record another one
  </ion-button>
</ng-template>

