<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (mouseup)="goBack()"
                       onclick="event.stopImmediatePropagation()"
                       defaultHref="/"
                       text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Measurement result</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ng-container *ngIf="!loading else spinner">
    <ng-container *ngIf="record">
      <main>
        <section *ngIf="!isDoctor && doctorName?.length" class="alert">
          These data are shared with your doctor <strong>{{ doctorName }}</strong>
        </section>
        <ul>
          <li *ngIf="isDoctor && patientName">
            <span>Patient</span>
            <span>{{ patientName }}</span>
          </li>
          <li>
            <span>Recorded at</span>
            <span>{{ record.date|date:"dd.MM.YYYY HH:mm"}}</span>
          </li>
          <li>
            <span>BPM</span>
            <span>{{ record.bpm }}</span>
          </li>
        </ul>
        <app-chart [record]="record"></app-chart>
      </main>
    </ng-container>
  </ng-container>
</ion-content>

<ng-template #spinner>
  <app-loading></app-loading>
</ng-template>
