ul {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;

  li {
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;

    &:last-child {
      border-bottom: none;
    }

    span {
      &:last-child {
        font-weight: 700;
        padding-left: 10px;
      }
    }
  }
}

.alert {
  color: var(--ion-color-success);
  background-color: rgba(var(--ion-color-success-rgb), 0.5);
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 30px;
}
