ion-input {
  text-align: center;
  margin: 30px 0;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 5px;
}

section {
  padding-bottom: 30px;

  //&:first-child {
  //  flex: 1;
  //}
}

main {
  justify-content: center;
}

section + section {
  border-top: 1px solid var(--grey);
  padding-top: 30px;
}

p {
  margin: 30px 0;
}
